

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Change Password</title>
</head>

<body style="text-align:center;background-color: #eff1f3;color:#282828;">
  <img
    src="https://lh3.googleusercontent.com/QOkua_NBn5IOZCmRegafH2mPx595HNpWuXZVQUV0IngGzV5Lcpy6o-osbGJ9RbVCQ23YtDO-y3PtvdL5UUdY3b8_XN2rT8DtxB1UrfShdHVeZAQpe6Mkv1Xwte0GnOrbDfFvA6WkDw=w2400"
    style="width:25%;max-width:250px">
  <h1 style="margin:0px auto;">Request for new password</h1>
  <div style="margin-top:2%; font-size:18px">
    <div>
      <span>Please visit</span>
    </div>
    <div style="margin: 15px;">
      <a href="{{link}}" style="
    color: #282828;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: initial;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:50%;
    background-color:#282828;
    color:white

">
        JsonProvider</a>
    </div>
    <div>
      <span>to change your password.</span>
    </div>
  </div>
  <div style="text-align: left;position:relative;bottom:-20px">
    Created by: gkampitakis
  </div>
  </div>
</body>

</html>