<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Verify Email</title>
</head>

<body style="text-align:center;background-color: #3880ff;color:white;">
  <h1 style="margin:0px auto;">Welcome to taskmanager</h1>
  <div style="font-size:18px;">
    Your verification code is
    <div
      style="width:150px;height:50px;background-color:#cecece;color:black;margin:12px auto;border-width:3px;border-style:solid;border-color:#7c7c7c">
      <span style="vertical-align:mid;line-height:2.75">{{code}}</span></div>
    <span style="color:white;font-size:16px;">Insert this code to the form to verify your email and start using your
      account</span>
  </div>
  <div>
    <h2 style="color:white">Thank you <b>{{fname}}</b>&nbsp;<b>{{lname}}</b>.</h2>
    <div style="text-align: left;color:white">
      Created by: G.Kabitakis
    </div>
  </div>
</body>

</html>